@font-face {
    font-family: MangabeyRegular;
    src: url(src/utils/fonts/MangabeyRegular-rgqVO.otf);
}

@font-face {
    font-family: MinomuRegular;
    src: url(src/utils/fonts/MinomuRegular-4BV0B.otf);
}

@font-face {
    font-family: PlasmatiktwopersonaluseBold;
    src: url(src/utils/fonts/PlasmatiktwopersonaluseBold-gxX11.otf);
}

@font-face {
    font-family: MegilanRegular;
    src: url(src/utils/fonts/MegilanRegular-7B7jl.otf);
}

@font-face {
    font-family: MontserratMedium;
    src: url(src/utils/fonts/MontserratMedium-lgZ6e.otf);
}

@font-face {
    font-family: BandarBold;
    src: url(src/utils/fonts/BandarBold-8Mj40.otf);
}

@font-face {
    font-family: BandarOutline;
    src: url(src/utils/fonts/BandarOutline-BWYjx.otf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(src/utils/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(src/utils/fonts/Roboto-Regular.ttf);
}
